* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f4f4f4;
}

.bus-container {
  width: 100%;
  margin: auto;
  padding: 20px 0;
}

.bus-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #ddd;
}

/* LEFT */

.left-section {
  width: 35%;
}

.left-section h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.bus-type {
  color: #555;
  font-size: 18px;
  margin-bottom: 25px;
}

.bottom-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
}

.photos {
  display: flex;
  align-items: center;
  gap: 8px;

  background: #eef5ff;
  color: #0066ff;

  padding: 10px 15px;
  border-radius: 20px;
}

/* CENTER */

.center-section {
  width: 35%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-section h2 {
  font-size: 32px;
}

.center-section p {
  color: #666;
  margin-top: 5px;
}

.duration-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.line {
  width: 70px;
  height: 2px;
  background: #ccc;
}

.duration-box span {
  border: 1px solid #ccc;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
}

/* RIGHT */

.right-section {
  width: 20%;
  text-align: center;
}

.price-box p {
  color: #555;
}

.price-box h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

.right-section button {
  background: #ef6b5b;
  color: white;

  border: none;
  padding: 15px 25px;

  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.seat-left {
  margin-top: 12px;
  color: green;
  font-weight: bold;
}